body {
    background-color: #202026;
}

.container-flex {
    display: flex;
}

container {
    display: flex;
    min-width: 5rem;
    min-height: 2rem;
    width: fit-content;
    height: fit-content;
    border: #303036 0.1rem solid;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

container.column {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    width: min-content;
}

container.chatView {
    width: calc(80vw - 4rem);
    height: calc(90vh - 2.6rem);
    overflow-y: scroll;
    overflow-x:auto;
    flex-direction:column;
    justify-content: flex-end;
    margin-left: 1rem;
    margin-right: 1rem;
}

container.chats {
    width: 20vw;
    height: 90vh;
    overflow: hidden;
    overflow-y: auto;
    flex-direction:column;
    margin-left: 1rem;
}

container.input {
    width: calc(80vw - 4.5rem);
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}

container.input input {
    background-color: transparent;
    color: #e0e0e0;
    outline: none;
    border: none;
    width: 100%;
}

container.input button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #e0e0e0;
    cursor: pointer;
}

container.input button:hover {
    scale: 1.1 1.1;
}

p.message {
    color: #e0e0e0;
    border-left: #303036 0.3rem solid;
    padding-left: 0.5vw;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #30303600;
    transition-duration: 0.25s;
}

p.message:hover {
    background-color: #303036e0;
}

button.chat {
    color: #e0e0e0;
    border: none;
    border-left: #303036 0.5rem solid;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #30303600;
    transition-duration: 0.25s;
    padding-left: 0.5rem;
    font-size: 1rem;
}

button.chat.menu {
    border: none;
    border-bottom: #e0e0e077 0.1rem solid;
}

button.chat.menu a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 2vh;
}

button.chat.menu a::after {
    content: " > ";
}

button.chat.menu a::before {
    content: " < ";
}

button.chat:hover {
    background-color: #303036e0;
}

button.chat:active {
    animation: click 0.5s ease-in-out;
    -webkit-animation: click 0.5s ;
}

@keyframes click {
    0% {
        scale: 1 1;
    }
    20% {
        scale: 1.2 1.2;
    }
    0% {
        scale: 0.9 0.9;
    }
    100% {
        scale: 1 1;
    }
}

* {
    font-family: 'Courier New', Courier, monospace;
}

span.name {
    color: #00ff99;
}

span.name::after {
    color: #e0e0e0;
    content: " > ";
}

span.name::before {
    color: #e0e0e0;
    content: " < ";
}

/* width */
::-webkit-scrollbar {
    width: 0.7vw;
}
  
  /* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #30303600;
    border-radius: 10px;
    transition-duration: 0.25s;
}

::-webkit-scrollbar-thumb:hover {
    background: #303036ff;
}

header {
    display:flex;
    width: 20vw;
    justify-content: center;
    margin-left: 1rem;
    gap: 3vw;
    margin-bottom: 1vh;
}

header a {
    color: #e0e0e0;
    font-size: 1.5vw;
    text-decoration: none;
    border: #303036 0.1rem solid;
    padding: 0.3vw;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    transition-duration: 0.25s;
}

header a:hover {
    scale: 1.1 1.1;
}