<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Chat</title>
    <style>
        .chat.create {
            width: 3rem;
            height: 3rem;
            padding: 0.5rem;
            font-size: 1.5rem;
            background-color: transparent;
            outline: none;
            border: #303036 0.1rem solid;
            box-shadow: #111 0 1rem 2rem;
            border-radius: 3rem !important;
            -webkit-border-radius: 0.3rem;
            -moz-border-radius: 0.3rem;
            -ms-border-radius: 0.3rem;
            -o-border-radius: 0.3rem;
            transition-duration: 0.1s;
        }

        .LoadingScreen {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #303036;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <%- include('../partials/header') %>
    <% if (isLoggedIn) { %>
        <div class="LoadingScreen">
            <h1 style="color: #e0e0e0;">Establishing socket connection...</h1>
            <p style="color: #e0e0e0;">For some reason it is taking slightly longer to connect to the server. We are sorry for any inconvenience.</p>
        </div>
    <% } %>
    <div class="container-flex">
        <container class="chats">
            <% if (isLoggedIn) { %>
                <button onclick="createNewChat()" class="chat create">+</button>
            <% } %>
        </container>
        <div>
            <container class="chatView">
                <% if (!isLoggedIn) { %>
                    <p class="message"><span style="color: #ff9999;" class="name">KSCS</span>You aren't logged in. <a style="color: #ff9999;" href="/login">Click here to go to the login page.</a></p>
                <% } %>
            </container>
            <container class="input">
                <input id="input" type="text">
                <button id="send">Send</button>
            </container>
        </div>
    </div>
</body>
<% if (isLoggedIn) {%>
    <script defer src="js/index.js"></script>
<% } %>
</html>