<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Chat</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container-flex">
        <container class="chats">
            
        </container>
        <div>
            <container class="chatView">
                <p class="message"><span class="name">Username</span>testas dasda sdasdad</p>
                <p class="message"><span class="name">Username</span>a</p>
            </container>
            <container class="input">
                <input type="text">
                <button>Send</button>
            </container>
        </div>
    </div>
</body>
<script src="js/index.js"></script>
</html>