<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        center {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 90vh;
        }

        input {
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: #303036 0.1rem solid;
            text-align: center;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            color: #e0e0e0;
        }

        input:focus {
            animation: click 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        button {
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: #303036 0.1rem solid;
            text-align: center;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            color: #e0e0e0;
            width: 100%;
            transition-duration: 0.1s;
        }

        button:active {
            animation: click 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        button:hover {
            scale: 1.05 1.05;
            background-color: #30303677;
        }

        @keyframes click {
            0% {
                scale: 1 1;
            }
            40% {
                scale: 1.2 1.2;
            }
            60% {
                scale: 0.9 0.9;
            }
            100% {
                scale: 1 1;
            }
        }

        h1 {
            font-size: 3rem;
            color: #e0e0e0;
            text-align: center;
        }

        container a {
            color: #e0e0e0;
            text-decoration: none;
            text-align: center;
            font-size: 1.5rem;
            margin: 1rem;
            margin-top: 0.1rem;
        }
    </style>
</head>
<body>
    <%- include("../partials/header") %>
    <center>
        <container class="column" style="border: none;">
            <h1>Signup</h1>
            <form>
                <span id="error-out" style="color: red;"></span>
                <input id="name" type="text" maxlength=16>
                <input id="password" type="password" maxlength=20>
                <button type="submit">Signup</button>
            </form>
        </container>
        <container class="column" style="border: none; width: max-content;">
            <p style="color: #e0e0e0; padding: 1rem; padding-bottom: 0.1rem;">Already have an account?</p>
            <a class="boxed" href="/login">Login</a>
        </container>
    </center>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const name = document.getElementById('name').value;
            const password = document.getElementById('password').value;
            console.log(name);
            login(name, password);
        });
        
        const login = (name, password) => {
            fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({
                    username: name,
                    password: password
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then((response) => { response.json().then(json => {
                if (json.error !== undefined) {
                    document.getElementById('error-out').innerText = json.error;
                }
                if (json.message === "success") {
                    localStorage.setItem('username', json.username);
                    localStorage.setItem('token', json.user_token);

                    window.location = '/profile';
                    // location.reload();
                }
            })});
        }
    </script>
</body>
</html>